/* Globales */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;500;600;800&family=Original+Surfer&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Original surfer';
}

header{
    position: relative;
    background: url(./img/header\ js\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh; /* Alto de tu header */
}

header h1{
    position: absolute;
    left: 400px; /* Ajusta el valor según el espacio que quieras dejar desde el borde izquierdo */
    bottom: 10px; /* Ajusta el valor según el espacio que quieras dejar desde el borde inferior */
    font-size: 35px;
    color: #000000; /* color titulo */
    padding: 10px;
    background-color: #a3cfcf;
    border: 0.5px solid #0b0b0b; 
    border-radius: 1%;
}

body{
    background-image: url(./img/arte\ surf\ \(4\).jpg);
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color:  #FFD700;
 
}

.icon-cart{

    width: 40px;
    height: 40px;
    stroke:  #0d0d0d;
    background-color:#ffffff00;
    margin-left: 200px;
    align-items: center;
    position: sticky;
    margin-top: 10px; 
}

.icon-cart:hover{
    cursor: pointer;
    float: right;
    margin-right: 1px;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content:space-between;
    padding: 50px 0 70px 0;
}

.container-icon{
    position:relative;
    order: 18;
    margin-left: 50px;
    margin-top: 10px !important;
}

/* Circulo donde se muestran la cantidad de items agregados al carrito */
.count-products{
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 2px 2px 1px 2px;
    gap: 5vh;
    background-color: #FFFFFF;
    margin-top: 15px !important; 
}
/* numero dentro del circulo del carrito*/
#contador-productos{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #0b0b0b;
    
}
/* lugar donde se agregan los items del carrito de compra */
.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #ffffff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(232, 10, 10, 0.2);
    border-radius: 10px;
    
}
/* BODY */
.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(235, 7, 7, 0.2);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
    color: #4c25e9;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    color: #170a8a;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
    color: #5a08f1;
}

.icon-close{
    width: 30px;
    height: 30px;
}
/* cruz para cancelar items del carrito */
.icon-close:hover{
    stroke: rgb(136, 0, 255);
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content:left;
    align-items: left;
    padding: 1px 2px 1px 2px;
    gap: 5vh;
    background-color: #FFFFFF;
    margin-left: -1000px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

/* Boton de Volver Arriba */
.btn {
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  
  
  /* Posición del botón */
  #btnCierreCompra {
    margin-top: 0px; /* Ajustar según tu preferencia */
  }
  


/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #008000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}
/*FOOTER*/
footer {
    background-color: #1a8d9c;
    background-image: url(./img/footer\ js\ 2.jpg);
    background-size: cover; /* La imagen de fondo ocupará todo el espacio del footer */
    background-position: center; /* Centra verticalmente la imagen de fondo */
    padding: 50px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 600px;
    margin: 0 auto;
    text-align:initial
    
  }

  .social-links {
    display: flex; /* Alinear los iconos de redes sociales horizontalmente */
    justify-content: center; /* Centrar los iconos horizontalmente */
    gap: 10px; /* Espaciado entre los iconos */
}
  
  .social-links a {
    color: #333;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .social-links a:hover {
    color: #188dc8; /* Cambiar el color al colocar el cursor */
}
h5 {
    color: #170a8a;
    font-weight: 400;
    font-size: 20px;

}

  #btn-scroll-top {
    background-color: #333;
    color: #131312;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  #btn-scroll-top:hover {
    background-color: #555;
  }
    
    .toastify-text-white {
    color: #FFA500;
    background-color: #0a2694;
    }
